---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('April 16 2023')}
	updatedDate={new Date('April 16 2023')}
>
	<p>
		I'm live through the stories I tell, the things that I build, and the changes I make to the 
    world. Common amongst all three, I try to do things completely different from everyone else. I
    don't say that to be cliché or to sound hip, I make sure my success and wellbeing depends on it.
    Sometimes I blur the line between being serious and silly, othertimes I'm a whole different vibe.
    <br><br>
  </p>
  <h2>A Few Of My Favorite Things</h2>
  <ul>
  <li>
  Media that makes me rethink how the world works:
  <ol class="pl-6">
  <li><a href="https://www.youtube.com/channel/UCESLZhusAkFfsNsApnjF_Cg">The All-In Podcast</a></li>
  <li><a href="https://www.youtube.com/@Coffeezilla">Coffeezilla</a></li>
  <li><a href="https://www.youtube.com/@styropyro">Styropyro</a></li>
  <li><a href="https://www.youtube.com/@JiDion">JiDion</a></li>
  </ol>
  </li>
  <li>Playing darts, pool, air hockey, spikeball, and especially shuffleboard</li>
  <li>Waaay too much Atlanta and Memphis rap (especially <a href="https://open.spotify.com/artist/5pR1zWq3UPsOpW1pTWayLf">Hitkidd</a> and <a href="https://open.spotify.com/artist/5gCRApTajqwbnHHPbr2Fpi">Juicy J</a>)</li>
  </ul>
</Layout>
