---
import Layout from "../layouts/Moment.astro";
---

<Layout title="About Me">
  <p>
    I spend a lifetime preparing for both the stormy and sunny days ahead of me.
    When I forget to do that, I sit back and appreciate the world... or I'm
    probably just thinking too hard about something.
  </p>
  <h2>A Few Of My Favorite Things</h2>
  <ul>
    <li>
      Media that makes me rethink how the world works:
      <ol>
        <li> <a href="https://www.youtube.com/@Coffeezilla" target="_blank">Coffeezilla</a> </li>
        <li> <a href="https://www.youtube.com/@styropyro" target="_blank">Styropyro</a> </li>
        <li> <a href="https://www.youtube.com/@nardwuar" target="_blank">Narduwuar the Human Serviette</a> </li>
        <li> <a href="https://www.youtube.com/@JazzysWorldTV" target="_blank">Jazzy's World</a> </li>
        <li> <a href="https://www.youtube.com/@frontline" target="_blank">Frontline</a> </li>
        <li> <a href="https://www.youtube.com/channel/UCESLZhusAkFfsNsApnjF_Cg" target="_blank">The All-In Podcast</a </li>
        <li> <a href="https://hindenburgresearch.com/" target="_blank">Hindenburg Research</a> </li>
        <li> <a href="https://livefree999.org/999stories/" target="_blank"> 999 Stories</a> </li>
      </ol>
    </li>
    <li>
      Playing darts, pool, air hockey, spikeball, and especially shuffleboard
    </li>
    <li>
      Waaay too much Atlanta and Memphis rap (especially producers like
      <a
        href="https://open.spotify.com/artist/5pR1zWq3UPsOpW1pTWayLf"
        target="_blank">Hitkidd</a
      >
      and <a
        href="https://open.spotify.com/artist/5gCRApTajqwbnHHPbr2Fpi/discography/album"
        target="_blank">Juicy J</a
      >)
    </li>
    <li>The randomness of opportunity, momentum, and creativity</li>
    <li>A steaming bowl of egg fried rice... 😋</li>
  </ul>
  <h2>In Case You Really Want Them...</h2>
  <p>
    I have some socials that I keep around. Well, <a href="/gptee"
      >now that I'm a robot</a
    >
    those don't really matter any more...
  </p>
</Layout>
