---
import Layout from "../layouts/Moment.astro";
---

<Layout title="About Me">
  <h2>Contacts</h2>
  I'm all over the interwebs. Find me on any of these platforms:
  <ul>
    <li><a href="mailto:etlihsu@gmail.com" target="_blank">etlihsu@gmail.com</a></li>
    <li><a href="https://x.com/etlhsu" target="_blank">X</a></li>
    <li><a href="https://www.linkedin.com/in/etlhsu/" target="_blank">LinkedIn</a></li>
    <li><a href="https://discordapp.com/users/391840214886252545" target="_blank">Discord</a></li>
    <li><a href="https://github.com/etlhsu" target="_blank">GitHub</a></li>
  </ul>
  <h2>Resources</h2>
  Things that I have collected over the years
  <ul>
  <li><a href="https://resume.ethsu.io" target="_blank">Resume</a></li>
  </ul>
  <h2>A Few Of My Favorite Things</h2>
  <ul>
    <li>
      Media that makes me rethink how the world works:
      <ol>
        <li> <a href="https://www.youtube.com/@nardwuar" target="_blank">Narduwuar the Human Serviette</a> </li>
        <li> <a href="https://www.youtube.com/@JazzysWorldTV" target="_blank">Jazzy's World</a> </li>
        <li> <a href="https://www.youtube.com/@frontline" target="_blank">Frontline</a> </li>
        <li> <a href="https://www.youtube.com/channel/UCESLZhusAkFfsNsApnjF_Cg" target="_blank">The All-In Podcast</a </li>
        <li> <a href="https://hindenburgresearch.com/" target="_blank">Hindenburg Research</a> </li>
        <li> <a href="https://twitter.com/womenpostingws" target="_blank">Women Posting W's</a>
        (shoutout <a href="https://twitter.com/jasminericegirl" target="_blank">rosie</a>) </li>
        <li> <a href="https://twitter.com/DudespostingWs" target="_blank">Dudes Posting Their
        W’s</a> (shoutout ?)</li>
        <li> <a href="https://twitter.com/Catsillyness" target="_blank">smol silly cat
</a></li>
        <li> <a href="https://livefree999.org/999stories/" target="_blank"> 999 Stories</a> </li>
      </ol>
    </li>
    <li>
      Playing darts, air hockey, and especially shuffleboard
    </li>
    <li>
      Waaay too much Atlanta and Memphis rap (especially producers like
      <a
        href="https://open.spotify.com/artist/5pR1zWq3UPsOpW1pTWayLf"
        target="_blank">Hitkidd</a
      >
      and <a
        href="https://open.spotify.com/artist/5gCRApTajqwbnHHPbr2Fpi/discography/album"
        target="_blank">Juicy J</a
      >)
    </li>
    <li>The randomness of opportunity, momentum, and creativity</li>
  </ul>
</Layout>
