---
import Layout from '../layouts/Moment.astro';
---

<Layout	title="Announcing The Next Version of Me: EthanGPT"
        description="EthanGPT 1.0 is available in a public beta with an unlimited free tier">
	<p>Nah I'm just kidding... there is (luckily) no chatbot to replace me. Besides, what kind of robot
     would dare to be anything like me? They would need a training set of insanity, surprise, and
     enough nonsense to make neural weights explode. Before the computational apocalypse arises and
     takes over my existence, you can chat with me in my non-GPT form 😅 (with no API limits!):
  </p>
  <ul>
    <li><a href="mailto:ethanhsuhsu@gmail.com" target="_blank">ethanhsuhsu@gmail.com</a></li>
    <li><a href="https://twitter.com/etlhsu" target="_blank">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/etlhsu/" target="_blank">LinkedIn</a></li>
    <li><a href="https://discordapp.com/users/391840214886252545" target="_blank">Discord</a></li>
  </ul>
  <h3>Resources</h3>
  Below are additional ways learn more about me. May or may not be used as training data for EthanGPT...
  <p>
    <li><a href="https://github.com/etlhsu" target="_blank">GitHub</a></li>
    <li><a href="https://resume.ethan.how" target="_blank">Resume</a></li>
  </ul>
</Layout>
