---
import BaseHead from '../components/BaseHead.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="How" description="How can how represent how?" />
    </head>
<body>
  <h1>How</h1>
	<p>How is the question I always ask myself. How does the world work? How I can be a part of it?
     How can I change the way the world works? How do I matter? How can I come up with more of 
     these questions?
    <br><br>

     Hopefully by exploring this place, you can learn how I work :) But also, the "how" is meant 
     to create a sense of wonder. For as many answers as I give, I want to ask just as many
     questions. I define myself as much by the answers that define my previous journeys, as I do
     the questions that define my next journeys.
     <br><br>

     And for the question of "how are you doing?" you might ask, I'm doing wonderful 😇
    </p>
</body>
</html>
