---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<body style="margin: 0; max-width: 100%">
  <div class="xl:flex flex-wrap space-x-7 max-w-full">
    <div class='xl:flex-col flex items-center flex-1 max-xl:overflow-x-auto'>
    <iframe class="rotate-12 mt-6 mb-8 max-xl:ml-1 max-xl:mr-5" style="border-radius:20px"; src="https://open.spotify.com/embed/track/5e7gWJLugowRo3gAVBn99B?utm_source=generator" width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <div class='w-5 h-5' />
    <iframe class="-rotate-12 mt-8 mb-12 max-xl:ml-5 max-xl:mr-10" width="250" height="140" src="https://www.youtube-nocookie.com/embed/SCbmAVMMRek?start=17" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="border-2 border-red-400 rotate-6 mt-8 mb-12 max-xl:ml-5 max-xl:mr-5" width="250" height="140" src="https://ethan.how/blog" title="Ethan's Recursive Place"></iframe>
    </div>
  <div class="flex-col">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
		<Header/>
		<main class="flex-col space-y-9" style='max-width: 95ch'>
      <p> Hi, I'm glad you made it here! Here's we go...
          <br><br>

          I'm a lifelong technologist who lives for the thrill of exploring the world in ways that 
          are so crazy that I'm not even allowed to tell you what happened sometimes. I spent most of my time
          in high-school plotting the perfect way to get a tech job. Not an internship, not a co-opp,
          an actual full-time job. I laughed so hard at my astronomically low chances of getting into
          Stanford, MIT, or Harvard that I decided to pursue something that was literally impossible.
          <br><br>

          I had only one thing going for me: the fact that my plan was unimaginable to the "innovative"
          world of Silicon Valley. Think different? Yeah turns out when there is too much competitive
          pressure on an entire generation, an opportunistic hole is bound to burst open somewhere.
          <br><br>

          I spent months talking to all kinds of folks, from startups looking for their
          1st engineer to enterprises looking for their 50,000th. What did I end learn from all of 
          this? I was solid at interviewing, all I needed was a Patagonia vest and a Hawaiian
          t-shirt to fit right in. A couple offer letters later, I was an actual impostor within 
          tech companies, well beyond any kind of impostor syndrome. People admire the spectacle of
          a kid among adults. Honestly, the most impressive part was that I got help...
          <br><br>

          Now, I'm trying to become the world's greatest cheerleader... <a href="../blog/no-pom-poms/">without pom-poms</a>.
          I'll basically do anything just to make exploring the unknowns in life a bit more interesting :)
      </p>
		</main>
  </div>
    <div class='flex-1'/>
    </div>
		<Footer />
	</body>
</html>
