---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body style="margin: 0; max-width: 100%">
    <div class="xl:flex flex-wrap xl:space-x-7 max-xl:space-y-5 max-w-full">
      <div
        class="xl:flex-col flex items-center flex-1 max-xl:overflow-x-auto xl:max-w-lg"
      >
        <div class="rotate-6 mt-8 mb-10 max-xl:ml-1 max-xl:mr-5">
          <iframe
            class="recursive-box"
            width="250"
            height="140"
            src="/how?how=how#how"
            title="Ethan's Recursive Place"></iframe>
          <p class="xl:hidden pt-3 pl-3 text-red">
            Scroll to the right for more ➡️
          </p>
        </div>
        <iframe
          class="-rotate-12 mt-8 mb-8 max-xl:ml-8 max-xl:mr-10"
          width="250"
          height="140"
          src="https://www.youtube-nocookie.com/embed/SCbmAVMMRek?start=17"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <iframe
          class="flex-col rotate-12 mt-12 mb-12 max-xl:ml-2 max-xl:mr-4"
          style="border-radius:20px"
          ;
          src="https://open.spotify.com/embed/track/4LRyAxL7GShkkepTufZu3B?utm_source=generator"
          width="300"
          height="80"
          frameBorder="0"
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
      </div>
      <div class="flex-col">
        <div class="flex-1"></div>
        <main class="flex-col space-y-5" style="max-width: 95ch">
          <Header />
          <p>Hi, I'm glad you made it here.</p>

          <p>
            I'm a lifelong technologist who lives for the thrill of exploring
            the world in quite interesting ways. I'm a seasoned imposter beyond most,
            creative engineer with a unique sense of direction, and a thoughtful
            creator above all else.
          </p>

          <h3 class="pt-6">
            The Now<a style="color: var(--h3-color)" href="/how?how=how#how"
              >?</a
            >
          </h3>
          <p>
            Say hi to me <a
              href="https://twitter.com/messages/compose?recipient_id=977005701078818816"
              >here on Twitter</a
            >
            or <a href="mailto:etlihsu@gmail.com">here via email</a>. I like
            meeting new folks because I always learn something new.
            <p>
              I'm trying to make the world a fun place by building the
              <a
                href="https://harrypotter.fandom.com/wiki/Weasleys%27_Wizard_Wheezes"
                target="_blank">Weasley</a
              > of SaaS. I have a lot of ideas to try out so we'll see where they
              take me... For now, I will let things happen as they will and be on the
              lookout for the next best things to pursue.
            </p>
          </p>
          <h3 class="pt-6"> The Future </h3>
          <p><a href="https://www.youtube.com/watch?v=4kZum1DT7ms" target="_blank">
          <i>Hype, work, work, work, work.</i>
          </a>
          <br>
          <i>Drip drop, drip drop, drip drop, drip drop.</i>
          </p>
        </main>
        <Footer />
      </div>
      <div class="flex-1"></div>
    </div>
  </body>
</html>
