---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header/>
		<main class="flex-col space-y-9">
      <p> Hi, I'm glad you made it here! Let me get you up to speed with all of unique
          happenings in my life...
          <br><br>

          I'm a lifelong technologist who lives for the thrill of exploring the world in ways that 
          are so crazy that I'm not even allowed to tell you what happened sometimes. I spent most of my time
          in high-school plotting the perfect way to get a job at Google. Not an internship, not a co-opp,
          an actual full-time job. I laughed so hard at my astronomically low chances of getting into
          Stanford, MIT, or Harvard that I decided to pursue something that was literally impossible.
          <br><br>

          I had only one thing going for me: the fact that my plan was unimaginable to the "innovative"
          world of Silicon Valley. Think different? Yeah turns out when there is too much competitive
          pressure on an entire generation, an opportunistic hole is bound to burst open somewhere.
          <br><br>

          I spent months talking to all kinds of folks, from startups looking for their
          1st engineer to enterprises looking for their 50,000th. What did I end learn from all of 
          this? I was solid at interviewing, all I needed was a Patagonia vest and a Hawaiian
          t-shirt to fit right in. A couple offer letters later, I was
          an actual impostor within tech companies. Overcoming impostor syndrome is one thing, but 
          holding onto an explosive secret is another. People admire the spectacle of a kid among
          adults. Honestly, the most impressive part was that I got help...
          <br><br>

          Now, I'm trying to become the world's greatest cheerleader... <a href="../blog/no-pom-poms/">without pom-poms</a>
      </p>
		</main>
		<Footer />
	</body>
</html>
