---
import Layout from '../layouts/Moment.astro';
---

<Layout	title="H1 2023 OKRs">
	<p>I've always wanted to be a product manager but never had the chance to. What better way
  to try it out than by experiencing the pressures of being the goal setter and goal achiever at 
  same time? Since H1 2023 is my first tracking period, I am giving myself a bit of leeway by letting
  "KR"s simply be incremental steps.</p>
  <h2>Objective 1: Establish Personal Sustainability</h2>
  <ul>
  <li><b>KR 1</b>: Follow a consistent daily schedule that maintains an elevated sense of well-being.</li>
  <li><b>KR 2</b>: Set aside a certain amount of time each day to be self-aware and reposition myself.</li>
  <li><b>KR 3</b>: Define ways of exploring the world and regularly seek out new pursuits.</li>
  </ul>
  <h2>Objective 2: Get Sparkle Off Of The Ground</h2>
  <ul>
  <li><b>KR 1</b>: Iron out a problem to solve and value proposition for a "random" idea.</li>
  <li><b>KR 2</b>: Develop an MVP for the idea that covers a critical use case.</li>
  <li><b>KR 3</b>: Create an online brand, advertise the product, and get actionable user feedback.</li>
  </ul>
  <h2>Objective 3: Join an Incredible Collective Effort</h2>
  <ul>
  <li><b>KR 1</b>: Scope environments with places that I would find exciting opportunities in.</li>
  <li><b>KR 2</b>: Reach out to builders in those places and identify with an ambitious team.</li>
  <li><b>KR 3</b>: Collaborate with amazing people to improve a specific part of the world.</li>
  </ul>
  <p><i>All of the O's K's and R's are incremental, and don't conflict (instead empower) my existing pursuits.</i></p>
</Layout>
