---
import Layout from '../layouts/Moment.astro';
---

<Layout	title="Resources"
        description="Things that I have collected over the years">

<ul>
    <li><a href="https://resume.ethsu.io" target="_blank">Resume</a></li>
</ul>
</Layout>
