---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>

  <link rel="preload" href="/sun.webp" as="image" />
  <link rel="preload" href="/moon.webp" as="image" />
  <link rel="preload" href="/sun.svg" as="image" />
  <link rel="preload" href="/moon.svg" as="image" />

  <div class="flex flex-row items-center pb-1 space-x-7">
    <h2 class="shrink"> <a style="color: var(--h2-color)" href="/"> {SITE_TITLE} </a></h2>
      <nav class="flex flex-nowrap">
          <HeaderLink href="/moments">Moments</HeaderLink>
          <HeaderLink href="/about">About</HeaderLink>
          <b><HeaderLink href="https://funhouse.ethsu.io">*Fun House Shop*</HeaderLink></b>	
      </nav>
      <div class="flex flex-col items-center w-48">
        <p id="countdown" class="min-w-fit text-nowrap">99y 9m 99d 9h 99m 99s</p>
        <i><p class="text-xs w-fit" style="color: var(--countdown-color)">I will die
        eventually</p></i>
      </div>

      <div class="grow"></div>
  <picture id="switcher-picture" class="shrink-0">
    <source id="switcher-source" type="image/svg" srcset="/moon.svg">
    <img id="switcher" style="filter: drop-shadow(1px 1px 1px #999999);" class="w-8 h-8">
  </picture>
  </div>
</header>

<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
<script is:inline>
    var theme = localStorage.getItem("theme"); 
    if(theme === null) {
      theme = "light"
      if(window.matchMedia("(prefers-color-scheme: dark)").matches) theme = "dark";
    }

    var switcher = document.getElementById("switcher");
    var switcherPicture = document.getElementById("switcher-picture");
    var graphic = "/sun.svg";
    if(theme == "dark") graphic = "/moon.svg";
    switcher.src = graphic;

    var switcher = document.getElementById("switcher");

  function onPointerOver(event) {
    if(event.pointerType == "mouse" || event.pointerType == "pen") {
    var theme = localStorage.getItem("theme");

    var switcher = document.getElementById("switcher");
    var switcherSource = document.getElementById("switcher-source");
    var animatedSrc = "/sun.webp";
    if(theme == "dark") animatedSrc = "/moon.webp";
    switcherSource.srcset = animatedSrc;
    switcher.src = animatedSrc;
    }
  }

  function onPointerOut(event) {
    var theme = localStorage.getItem("theme");

    var switcher = document.getElementById("switcher");
    var src = "/sun.svg";
    if(theme == "dark") src = "/moon.svg";
    switcher.src = src;
  }

  function onClick() {
    var theme = "light";
    if(localStorage.getItem("theme") == "dark") theme = "dark";

    var newTheme = "dark";
    if(theme == "dark") newTheme = "light";

    var switcher = document.getElementById("switcher");
    var switcherSource = document.getElementById("switcher-source");
    var src = "/sun.webp";
    if (switcher.src.endsWith("webp")) {
      if(newTheme == "dark") src = "/moon.webp";
      if (newTheme == "light") { src = "/sun.webp"; }
      else { src = "/moon.webp"; }
    } else {
      if (newTheme == "light") { src = "/sun.svg"; }
      else { src = "/moon.svg"; }
    }
    switcherSource.srcset = src;
    switcher.src = src;

    document.documentElement.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
  }
  
  switcherPicture.addEventListener("pointerover", onPointerOver);
  switcherPicture.addEventListener("pointerout", onPointerOut);
  switcherPicture.addEventListener("click", onClick);
</script>
<script is:inline>
// Set the date we're counting down to
var countDownDate = new Date("2090-09-09T09:09").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;


  // Time calculations for days, hours, minutes and seconds
  var years = Math.floor(distance / (1000 * 60 * 60 * 24 * 365));
  var remainingTime = distance % (1000 * 60 * 60 * 24 * 365);
  var months = Math.floor(remainingTime / (1000 * 60 * 60 * 24 * 30));
  remainingTime = remainingTime % (1000 * 60 * 60 * 24 * 30);
  var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
  remainingTime = remainingTime % (1000 * 60 * 60 * 24);
  var hours = Math.floor(remainingTime / (1000 * 60 * 60));
  remainingTime = remainingTime % (1000 * 60 * 60);
  var minutes = Math.floor(remainingTime / (1000 * 60));
  remainingTime = remainingTime % (1000 * 60);
  var seconds = Math.floor(remainingTime / 1000);

  document.getElementById("countdown").innerHTML = 
    years + "y " + months + "m " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
}, 1000);
</script>
