---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <div class="flex flex-row items-center pb-1 max-w-full">
	<h2 class="m-0 pr-5"> <a style="color: var(--h2-color)" href="/"> {SITE_TITLE} </a></h2>
  <div class="flex flex-row grow items-center">
	<nav>
		<HeaderLink href="/moments">Moments</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/gptee">EthanGPT</HeaderLink>
	</nav>
  </div>
    <picture id="switcher-picture" class="self-end">
    <source id="switcher-source" type="image/svg" srcset="/moon.svg">
    <img id="switcher" class="w-8 h-8">
    </picture>
  </div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
<script>
    var theme = localStorage.getItem("theme"); 
    if(theme === null) {
      theme = "light"
      if(window.matchMedia("(prefers-color-scheme: dark)").matches) theme = "dark";
    }

    document.documentElement.setAttribute("data-theme", theme);

    var switcher = document.getElementById("switcher");
    var switcherPicture = document.getElementById("switcher-picture");
    var graphic = "/moon.svg";
    if(theme == "dark") graphic = "/sun.svg";
    switcher.src = graphic;

  var switcher = document.getElementById("switcher");
  localStorage.setItem("theme", theme);

  function onSwitcherMouseOver() {
    var theme = "light";
    var theme = "light";
    if(localStorage.getItem("theme") == "dark") theme = "dark";

    var switcher = document.getElementById("switcher");
    var switcherSource = document.getElementById("switcher-source");
    var animatedSrc = "/moon.webp";
    if(theme == "dark") animatedSrc = "/sun.webp"
    switcherSource.srcset = animatedSrc;
    switcher.src = animatedSrc;
    console.log("switch over");

  }

  function onSwitcherMouseOut() {
    var theme = "light";
    if(localStorage.getItem("theme") == "dark") theme = "dark";

    var switcher = document.getElementById("switcher");
    var switcherSource = document.getElementById("switcher-source");
    var animatedSrc = "/moon.svg";
    if(theme == "dark") animatedSrc = "/sun.svg"
    switcherSource.srcset = animatedSrc;
    switcher.src = animatedSrc;
    console.log("switch out");
  }

  function onClick() {
    var theme = "light";
    if(localStorage.getItem("theme") == "dark") theme = "dark";

    var newTheme = "dark";
    if(theme == "dark") newTheme = "light";
    document.documentElement.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);

    onSwitcherMouseOver();
  }
  
  switcherPicture.addEventListener("mouseover", onSwitcherMouseOver);
  switcherPicture.addEventListener("mouseout", onSwitcherMouseOut);
  switcherPicture.addEventListener("click", onClick);
</script>
