---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <div class="flex flex-row items-center pb-1 max-w-full space-x-7">
	<h2 class="shrink"> <a style="color: var(--h2-color)" href="/"> {SITE_TITLE} </a></h2>
  <div class="flex-row grow">
	<nav>
		<HeaderLink href="/okrs">OKRs</HeaderLink>
		<HeaderLink href="/moments">Moments</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/gptee">EthanGPT</HeaderLink>
	</nav>
  </div>
    <picture id="switcher-picture" class="shrink-0">
    <source id="switcher-source" type="image/svg" srcset="/moon.svg">
    <img id="switcher" style="filter: drop-shadow(1px 1px 1px #999999);" class="w-8 h-8">
    </picture>
  </div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
<script is:inline>
    var theme = localStorage.getItem("theme"); 
    if(theme === null) {
      theme = "light"
      if(window.matchMedia("(prefers-color-scheme: dark)").matches) theme = "dark";
    }

    var switcher = document.getElementById("switcher");
    var switcherPicture = document.getElementById("switcher-picture");
    var graphic = "/moon.svg";
    if(theme == "dark") graphic = "/sun.svg";
    switcher.src = graphic;

    var switcher = document.getElementById("switcher");

  function onPointerOver(event) {
    if(event.pointerType == "mouse" || event.pointerType == "pen") {
    var theme = localStorage.getItem("theme");

    var switcher = document.getElementById("switcher");
    var switcherSource = document.getElementById("switcher-source");
    var animatedSrc = "/moon.webp";
    if(theme == "dark") animatedSrc = "/sun.webp";
    switcherSource.srcset = animatedSrc;
    switcher.src = animatedSrc;
    }
  }

  function onPointerOut(event) {
    var theme = localStorage.getItem("theme");

    var switcher = document.getElementById("switcher");
    var src = "/moon.svg";
    if(theme == "dark") src = "/sun.svg";
    switcher.src = src;
  }

  function onClick() {
    var theme = "light";
    if(localStorage.getItem("theme") == "dark") theme = "dark";

    var newTheme = "dark";
    if(theme == "dark") newTheme = "light";

    var switcher = document.getElementById("switcher");
    var switcherSource = document.getElementById("switcher-source");
    var src = "/moon.webp";
    if (switcher.src.endsWith("webp")) {
      if(newTheme == "dark") src = "/sun.webp";
    } else {
      if (newTheme == "dark") { src = "/sun.svg"; }
      else { src = "/moon.svg"; }
    }
    switcherSource.srcset = src;
    switcher.src = src;

    document.documentElement.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
  }
  
  switcherPicture.addEventListener("pointerover", onPointerOver);
  switcherPicture.addEventListener("pointerout", onPointerOut);
  switcherPicture.addEventListener("click", onClick);
</script>
